@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

footer {
    font-size: 16px;
    background-color: black;
}

navbar {
    background-color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: grey;
    padding: 32px;
    font-size: 14px;
    text-align: column;
    justify-content: center;
    max-width: 1280px;
}

